body {
  box-sizing: border-box;
  width: 1320px;
  margin: auto;
  background-color: #f4d04e;
}

main {
  display: flex;
  font-family: "Figtree", sans-serif;
}

.container {
  flex-direction: column;
  flex-basis: 400px;
  margin: auto;
  border: 2px solid black;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  border-radius: 8px;
  box-shadow: 10px 5px 5px black;
  background-color: white;
  padding: 10px;
}

.img-learning img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
.txt-learning {
  font-size: 16px;
  font-weight: bold;
  background-color: #f4d04e;
  border-radius: 6px;
  width: 65px;
  padding: 7px;
}

.creator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
}

.creator img {
    width: 10%;
}

.date {
  padding-top: 16px;
}

